.place {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 1em;
    background-color: white;
    gap: 20px;
}

.place img {
    width: 300px;
    border-radius: 7px;
    display: block;
    margin: auto 0;
}

.info h1 a {
    text-decoration: none;
    text-align: center;
    display: block;
}

.info p {
    text-align: justify;
    margin-right: 1em;
    line-height: 1.5em;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}

.highlight {
    background-color: #2C5F2D;
    padding: 1px;
    border-radius: 3px;
    color: white;
}

body {
    background-color: #97BC62;
}

body.places {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px;
}

.black-border {
    border: 3px solid black;
    border-radius: 10px;
}

a.button {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.5em;
    font-size: 130%;
}

#search {
    width: 100%;
    padding: 0.5em;
    font-size: 130%;
    box-sizing: border-box;
}

#menu {
    background-color: #2C5F2D;
    padding: 1em;
    margin-top: 1em;
}

#menu a {
    margin: 1em;
    background-color: #97BC62;
}

#menu a.active {
    background-color: #00a2e8;
}

#topmenu {
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
}

#topmenu a {
    background-color: white;
}

.homeimage {
    margin: 1em auto;
    display: block;
    width: 90%;
}

.text {
    text-align: center;
    padding: 2em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}

.texttitle {
    font-size: 200%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.selecting {
    color: black;
    text-decoration: none;
}

.selecting:hover {
    text-decoration: underline;
}

#arial {
    font-family: Arial, Helvetica, sans-serif;
}

#times {
    font-family: 'Times New Roman', Times, serif;
}

#category-description {
    display: none;
    margin-top: 1em;
    padding: 1em;
    background-color: #2C5F2D;
    color: white;
    font-size: 140%;
    font-family: 'Times New Roman', Times, serif;
}

#white {
    color: white;
}


a {
    color: black;
    text-decoration: none;
}
.image {
    margin: 1em auto;
    display: block;
    width: 60%;
}