.place {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 1em;
    background-color: white;
    gap: 20px;
}

.place img {
    width: 300px;
    border-radius: 7px;
    display: block;
    margin: auto 0;
}

.info h1 a {
    text-decoration: none;
    text-align: center;
    display: block;
}

.info p {
    text-align: justify;
    margin-right: 1em;
    line-height: 1.5em;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: white;
}

.black-border {
    border: 3px solid black;
    border-radius: 10px;
}


#topmenu {
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.elements {
    background-color: #395A72;
    border: 3px solid black;
    font-size: 150%;
    border-radius: 10px;
    color: white;
}

.homeimage {
    margin: 1em auto;
    display: block;
    width: 90%;
}

.text {
    text-align: center;
    padding: 2em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}

.texttitle {
    font-size: 200%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-top: 3%;
}

.selecting {
    color: black;
    text-decoration: none;
}

.selecting:hover {
    text-decoration: underline;
}

#arial {
    font-family: Arial, Helvetica, sans-serif;
}

#times {
    font-family: 'Times New Roman', Times, serif;
}

#white {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

.image {
    width: 40%;
}

.textpile {
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}

